body {
  background-image: url(Img.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  position: relative;
}
h1 {
  position: absolute;
  top: 40px;
  left: 6%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 48px;
  background: linear-gradient(
    90deg,
    rgb(22, 97, 203) 0%,
    rgb(5, 129, 181) 50%,
    rgb(36, 99, 162) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}
.container {
  position: absolute;
  top: 55%;
  left: 6%;
  transform: translateY(-50%);
  background-color: rgba(239, 238, 238, 0.568);
  width: 340px;
  max-width: 90%;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.858);
  display: flex;
  flex-direction: column;
  gap: 18px;
}
input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cfd9e2;
  font-size: 15px;
  box-sizing: border-box;
}

input:focus {
  border-color: #2a9b81;
  outline: none;
}
#order {
  margin-top: 10px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: #2a9b81;
  color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Cards {
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#Card1, #Card2 {
  background-color: rgba(239, 235, 235, 0.377); /*For opacity*/
  padding: 20px;
  border-radius: 12px;
  width: 350px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(2, 1, 1, 0.801);
  transition: all 0.3s ease;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#Card1:hover, #Card2:hover {
  transform: scale(1.05);
}
#Card1 h2, #Card2 h2 {
  margin-top: 0;
  color: lab(38.17% 9.93 -45.55);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.947);
}
@media (max-width: 768px) {
  h1 {
    position: static;
    text-align: center;
    margin-top: 30px;
  }
  .container {
    position: static;
    transform: none;
    margin: 20px auto;
    width: 70%;
  }
  .Cards {
    position: static;
    transform: none;
    margin: 20px auto;
    width: 90%;
    flex-direction: column;
    gap: 20px;
  }
}
